/* CSS de la base en la pagina web Luis Manitas */

body{
    background-image: url('../images/remodelacion.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    font-family: Arial, sans-serif;
}
header{
    display: flex;
    width: auto;   
    text-align: center;
    justify-content: space-around;
    margin: 10px 10px;
}
.conte_red{
    width: 100%;
    background: rgb(239, 222, 196, 0.5);
    display: inline-block;
}
img.img_head{
    height: 150px;
    width: auto;
}
.redes_sociales{
    display: inline-block;
    margin: 15px;
    height: 100px;
}
img.redes_sociales{
    height: 45px;
    width: auto;
    padding: 5px;
}
.conec_tele{
    display: inline-block;
    margin: 5px 15px;
    font-size: 25px;
}
nav{
    display: flex;
    width: auto;
    height: 60px;
    background: rgba(102, 105, 253, 0.9);
    color: #ffffff;
    text-align: center;
    justify-content: space-around;
    margin: 10px;
}
#llamada{
    background-color: #ff3741;
    color: white;
    font-size: 22px;
    border: none;
    padding: 5px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}
#llamada:hover{
    background-color: #e67b7e;
    color:#000000
}
.contene_menu{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.page{
    display: inline-block;
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 15px 60px;
}
.page:hover{
    max-height: 30px;
    background-color: #5858fa;
    color:#000000;
    border-radius: 20px;
} 
main{
    display: flex;
    background-color:  rgb(239, 222, 196, 0.5);
    width: auto;
    margin: 10px 10px 10px 10px;
} 
.cont_home{
    display: inline-block;
    text-align: justify;
    align-items: center;
    width: 100%;
    padding: 10px 25px;
}
.titpres{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.desc{
    color: #3b3b3b;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 1.5;
    text-align: justify;
}

.cont_slider{
    display: flex;
    width: 100%;
    height: auto;
    margin: 10px 10px 10px 10px;
   
}
#img_home01{
    height: 370px;
    width: auto;
    margin: 50px 50px;
    align-items: center;
}
footer{
    background-color: rgba(102, 105, 253, 0.9);
    display: flex;
    width: auto;   
    text-align: center;
    justify-content: space-around;
    margin: 10px 10px;
}
.footpres{
    font-size: 12px;
    font-weight: lighter;
}

