{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 ">
    <title>LUIS MANITAS</title>
    <link type="text/css" href="{% static 'css/estilos.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="conte_red">
            <img src="{% static 'images/newlm.png' %}" alt="imagen del logo de Luis Manitas">
        </div>

        <div class="conte_red">
            <div class="redes">
                <img class="redes_sociales" src="{% static 'images/facebook.png' %}" alt="Ingreso a cuenta Facebook" >
                <img  class="redes_sociales" src="{% static 'images/tiktok.png' %}" alt="Ingreso a cuenta en WhatsApp">
                <img class="redes_sociales" src="{% static 'images/instagram.png' %}" alt="Ingreso a cuenta en Instagram">
                <img class="redes_sociales" src="{% static 'images/whatsapp.png' %}" alt="Envia mensaje por WhatsApp">
                <img class="redes_sociales" src="{% static 'images/linkedin.png' %}" alt="Ingreso a cuenta en LinkedIn">
                <img class="redes_sociales" src="{% static 'images/correo.png' %}" alt="Enviar mensaje de correo">
            </div>
            <div class="conec_tele">
                <button id="llamada">! LLAMA YA !</button>
            </div>
        </div>
  
    </header>       
    <nav>
        <div class="contene_menu">
            <a class="page" href="#">Pagina principal</a>
            <a class="page" href="#">Servicios</a>
            <a class="page" href="#">Contacto</a>
        </div>
    </nav>

    <main>
        {% block content %} 
        {% endblock %}  
    </main>
    
</body>
</html>