{% extends 'base.html' %}

{% load static %}

{% block content %}
<main>
    <div class="preserv">
        <p>este es el lugar que describe los servicios de Luismanitas en España</p>
    </div>
    <br>
    <div id="services">    
        
        <div class="cont_home">
            <div class="wrapper02">
                <img src="{% static 'images/aseo01.png' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/aseo02.png' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/aseo03.png' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/aseo04.png' %}" alt="Imagen de LuisManitas"> 
            </div>
        </div>      
        
        <div class="cont_home">
            <div class="wrapper02">
                <img src="{% static 'images/cocinas/cocina04.jpg' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/cocinas/cocina01.jpg' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/cocinas/cocina02.png' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/cocinas/cocina03.jpg' %}" alt="Imagen de LuisManitas"> 
            </div>
        </div>      
   
        <div class="cont_home">
            <div class="wrapper02">
                <img src="{% static 'images/aseo01.png' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/aseo02.png' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/aseo03.png' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/aseo04.png' %}" alt="Imagen de LuisManitas"> 
            </div>
        </div>      
</main>
{% endblock %}