{% extends 'base.html' %}

{% load static %}

{% block content %}
<main>
    <div class="preserv">
        <p>Estos son nuestros servicios... </p>
    </div>
    <div id="services">        
        <div class="cont_serv">
            <p class="deser">Servicio de remodelacion de baños o reparacion en estos mismas es uno de nuestras expecialidades.</p>
            <br>
            <div class="wrapper02">
                <img src="{% static 'images/baños/baño01.jpg' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/baños/baño02.png' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/baños/baño03.png' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/baños/baño04.png' %}" alt="Imagen de LuisManitas"> 
            </div>
        </div>      
        
        <div class="cont_serv">

            <div class="wrapper02">
                <img src="{% static 'images/cocinas/cocina04.jpg' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/cocinas/cocina01.jpg' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/cocinas/cocina02.png' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/cocinas/cocina03.jpg' %}" alt="Imagen de LuisManitas"> 
            </div>
            <br>
            <p class="deser">Servicio de remodelacion de cocinas o reparacion en estas es uno de mis mas solicitados servicios.</p>
        </div>      
   
        <div class="cont_serv">
            <p class="deser">Servicio de remodelacion de baños o reparacion en estos mismas es uno de nuestras expecialidades.</p>
            <br>
            <div class="wrapper02">
                <img src="{% static 'images/baños/baño01.jpg' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/baños/baño02.png' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/baños/baño03.png' %}" alt="Imagen de LuisManitas">
                <img src="{% static 'images/baños/baño04.png' %}" alt="Imagen de LuisManitas"> 
            </div>
        </div>      
</main>
{% endblock %}